body{
   margin: 0;
   font-size: 18px; 
   color:#2D3748;
   font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif ;
}

.container{
    display:grid;
    grid-template-columns: 250px 1fr;
    grid-template-rows: auto 1fr auto;
    grid-template-areas: 
        "header header"
        "sidebar main"
        "footer footer";

    min-height:100vh;
}

header {grid-area: header;}
aside {grid-area: sidebar;}
main { grid-area: main;}
footer {grid-area: footer;}

header{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color:#3C8527;
    color:#ffffff;
    padding:20px;
}
.profilepicture{
    height:150px;
    width: 150px;
    object-fit:cover;
    border-radius: 50%;
    border: 4px solid #fff;

}
header h1{
    font-size: 39px;
    font-family:"Trebuchet MS", Arial, sans-serif ;
    margin: 10px 0 5px;
}
main{
    padding: 20px 30px;
}


article h2{
    font-size: 34px;
    color:#28651C;
}
.info{
    color:#667267;
}

article {
    overflow: auto; 
    margin-bottom: 30px ;
}

.left-image{
    float: left;
    width:200px;
    height:150px;
    object-fit: cover;
    margin: 0 20px 10px 0;


}
.right-image{
    float: right;
    width:200px;
    height:150px;
    object-fit: cover;
    margin: 0 0 10px 20px;
}
aside{
    padding: 20px;
}
aside h3{
    color: #28651C;  
    font-family:Georgia, 'Times New Roman', Times, serif;
}

.About h3{
    color:#333322;
}
.About{
  background-color:#E2E8F0;  
  padding: 15px;
}
aside a {
    color:#2879B8;
}
footer{
    background-color:#28651C ;
    color:#ffffff;
    text-align: center;
    padding: 15px;
}
